<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        <a class="nav-link" routerLink="student">Student</a>
        <a class="nav-link" routerLink="teacher">Teacher</a>
        <a class="nav-link" routerLink="addmission">Addmission</a>

      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
